{
  "openapi": "3.1.0",
  "info": {
    "title": "Mibyan API",
    "description": "Initial API reference for Atlas Swarm Core One. The public developer API is still being formalized; this spec documents the routes used by the current application.",
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://mibyanai.com"
    },
    {
      "url": "http://localhost:5173"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/api/public/agent-run": {
      "post": {
        "summary": "Run the Atlas agent loop",
        "description": "Starts an authenticated agent run and streams Server-Sent Events. The response body is text/event-stream with JSON payloads prefixed by data:.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentRunRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "SSE stream of AgentEvent objects",
            "content": {
              "text/event-stream": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/public/classify": {
      "post": {
        "summary": "Classify a user message",
        "description": "Classifies text as chat or task and returns the suggested Mibyan agent plus clarifying questions.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClassifyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Classification result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClassifyResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/public/skills": {
      "get": {
        "summary": "List enabled skills",
        "responses": {
          "200": {
            "description": "Enabled skills",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SkillsList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "post": {
        "summary": "Route text to a skill",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SkillRouteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Skill routing result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/public/ai/models": {
      "get": {
        "summary": "List allowed AI models",
        "security": [],
        "responses": {
          "200": {
            "description": "Allowed model IDs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelsResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "Supabase JWT"
      }
    },
    "responses": {
      "Error": {
        "description": "JSON error response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    },
    "schemas": {
      "AgentRunRequest": {
        "type": "object",
        "required": [
          "conversationId",
          "userMessage"
        ],
        "properties": {
          "conversationId": {
            "type": "string",
            "description": "Conversation/project UUID owned by the authenticated user."
          },
          "userMessage": {
            "type": "string"
          },
          "excludeTools": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Optional tool names to disable for this run, for example create_slides."
          }
        }
      },
      "ClassifyRequest": {
        "type": "object",
        "required": [
          "text"
        ],
        "properties": {
          "text": {
            "type": "string"
          }
        }
      },
      "ClassifyResponse": {
        "type": "object",
        "properties": {
          "kind": {
            "type": "string",
            "enum": [
              "chat",
              "task"
            ]
          },
          "agent": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "salem",
              "sarah",
              "nasser",
              "laila",
              "omar",
              "mira",
              "kimi",
              null
            ]
          },
          "title": {
            "type": [
              "string",
              "null"
            ]
          },
          "questions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ClarifyingQuestion"
            }
          }
        }
      },
      "ClarifyingQuestion": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "label": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "single",
              "multi",
              "text"
            ]
          },
          "options": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "recommended_option": {
            "type": "string"
          }
        }
      },
      "SkillsList": {
        "type": "object",
        "properties": {
          "skills": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "description": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "category": {
                  "type": [
                    "string",
                    "null"
                  ]
                }
              }
            }
          }
        }
      },
      "SkillRouteRequest": {
        "type": "object",
        "required": [
          "text"
        ],
        "properties": {
          "text": {
            "type": "string"
          }
        }
      },
      "ModelsResponse": {
        "type": "object",
        "properties": {
          "models": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "category": {
                  "type": "string"
                },
                "default": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        },
        "additionalProperties": true
      }
    }
  }
}
