{
  "openapi": "3.1.0",
  "info": {
    "title": "Mibyan API",
    "version": "1.0.0",
    "description": "The Mibyan API is fully OpenAI-compatible, allowing you to use standard OpenAI clients, the Vercel AI SDK, or simple cURL requests to interact with Mibyan models."
  },
  "servers": [
    {
      "url": "https://mibyanai.com/api/public/v1",
      "description": "Production API Gateway"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Your Mibyan API key (starts with `mb-...`). Pass it in the `Authorization` header as `Bearer mb-...` or via the `x-mibyan-api-key` header."
      }
    },
    "schemas": {
      "ChatCompletionRequest": {
        "type": "object",
        "required": ["messages"],
        "properties": {
          "model": {
            "type": "string",
            "enum": ["mibyan-4.1"],
            "default": "mibyan-4.1",
            "description": "The model to use. Currently, Mibyan 4.1 is the primary chat model."
          },
          "messages": {
            "type": "array",
            "description": "A list of messages comprising the conversation so far.",
            "items": {
              "type": "object",
              "required": ["role", "content"],
              "properties": {
                "role": {
                  "type": "string",
                  "enum": ["system", "user", "assistant", "tool"],
                  "description": "The role of the message author."
                },
                "content": {
                  "type": "string",
                  "description": "The contents of the message."
                }
              }
            }
          },
          "stream": {
            "type": "boolean",
            "default": false,
            "description": "If set, partial message deltas will be sent as Server-Sent Events (SSE)."
          }
        }
      },
      "ChatCompletionResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "example": "chat.completion"
          },
          "created": {
            "type": "integer"
          },
          "model": {
            "type": "string",
            "example": "mibyan-4.1"
          },
          "choices": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "index": {
                  "type": "integer"
                },
                "message": {
                  "type": "object",
                  "properties": {
                    "role": {
                      "type": "string",
                      "example": "assistant"
                    },
                    "content": {
                      "type": "string"
                    }
                  }
                },
                "finish_reason": {
                  "type": "string",
                  "example": "stop"
                }
              }
            }
          },
          "usage": {
            "type": "object",
            "properties": {
              "prompt_tokens": {
                "type": "integer"
              },
              "completion_tokens": {
                "type": "integer"
              },
              "total_tokens": {
                "type": "integer"
              }
            }
          }
        }
      },
      "EmbeddingRequest": {
        "type": "object",
        "required": ["input"],
        "properties": {
          "model": {
            "type": "string",
            "enum": ["mibyan-embed-1", "mibyan-embed-small"],
            "default": "mibyan-embed-1",
            "description": "The embedding model to use."
          },
          "input": {
            "oneOf": [
              {
                "type": "string",
                "description": "The text to embed."
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "An array of texts to embed."
              }
            ]
          }
        }
      },
      "EmbeddingResponse": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "example": "list"
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "object": {
                  "type": "string",
                  "example": "embedding"
                },
                "index": {
                  "type": "integer"
                },
                "embedding": {
                  "type": "array",
                  "items": {
                    "type": "number"
                  }
                }
              }
            }
          },
          "model": {
            "type": "string",
            "example": "mibyan-embed-1"
          },
          "usage": {
            "type": "object",
            "properties": {
              "prompt_tokens": {
                "type": "integer"
              },
              "total_tokens": {
                "type": "integer"
              }
            }
          }
        }
      },
      "ModelListResponse": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "example": "list"
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "object": {
                  "type": "string",
                  "example": "model"
                },
                "created": {
                  "type": "integer"
                },
                "owned_by": {
                  "type": "string",
                  "example": "mibyan"
                }
              }
            }
          }
        }
      }
    }
  },
  "paths": {
    "/chat/completions": {
      "post": {
        "summary": "Create chat completion",
        "description": "Creates a model response for the given chat conversation. This endpoint is fully compatible with the OpenAI Chat Completions API.",
        "operationId": "createChatCompletion",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatCompletionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful chat completion response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/embeddings": {
      "post": {
        "summary": "Create embeddings",
        "description": "Generates a vector representation (embeddings) of the input text. This endpoint is fully compatible with the OpenAI Embeddings API.",
        "operationId": "createEmbeddings",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmbeddingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful embeddings response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmbeddingResponse"
                }
              }
            }
          }
        }
      }
    },
    "/models": {
      "get": {
        "summary": "List models",
        "description": "Retrieves the list of models currently available in the Mibyan API.",
        "operationId": "listModels",
        "responses": {
          "200": {
            "description": "Successful model list response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelListResponse"
                }
              }
            }
          }
        }
      }
    }
  }
}